{if condition="$Think.session.loginUser==null"}
<script>alert('请先登陆！');
location = 'login'</script>
{/if}

<header class="am-topbar am-topbar-inverse admin-header">

    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="{$Think.ASSETS}/img/logo.png" alt="" style="margin-top: -38px">
        </a>

    </div>

    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">

            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="tpl-header-list-user-nick">{$Think.session.loginUser['nickname']}</span><span
                        class="tpl-header-list-user-ico"> <img
                        src="{$Think.BLOG}/{$Think.session.loginUser['icon']}"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="{:url('admin/Index/index')}"><span class="am-icon-bell-o"></span> 资料</a></li>
                    <li><a href="{:url('admin/Home/loginout')}"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a href="{:url('admin/Home/loginout')}" class="tpl-header-list-link"><span
                    class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>

    </div>

</header>