<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>风和树里-文章详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="{$Think.BLOG}/assets/i/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{$Think.BLOG}/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="{$Think.BLOG}/assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="{$Think.BLOG}/assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="{$Think.BLOG}/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="{$Think.BLOG}/assets/css/app.css">
</head>

<body id="blog-article-sidebar">
<!-- header start -->
{include file='../application/blog/view/public/header.html'}
<!-- header end -->
<hr>

<!-- nav start -->
{include file='../application/blog/view/public/nav.html'}
<!-- nav end -->

<hr>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-md-8 am-u-sm-12">

        <article class="am-article blog-article-p">
            <div class="am-article-hd">
                <h1 class="am-article-title blog-text-center">{$article.title}</h1>
                <p class="am-article-meta blog-text-center">
                    <span><a href="#">@{$article.writer} &nbsp;</a></span>-
                    <span><a href="#">{$article.releaseTime}</a></span>
                </p>
            </div>
            <div class="am-article-bd">
                <img src="{$Think.BLOG}/{$article.cover}" alt="" width="770" height="400"
                     class="blog-entry-img blog-article-margin">
                <p class="class=" am-article-lead></p></div>

            <hr>

            {$article.content}


        </article>

        <hr>

        <ul class="am-pagination blog-article-margin">
            {if condition="$prev.title neq null"}
            <li class="am-pagination-prev"><a href="{:url('blog/Index/article_detail')}?articleId={$prev.articleId}"
                                              class="">&laquo; {$prev.title}</a></li>
            {/if}
            {if condition="$next.title neq null"}
            <li class="am-pagination-next"><a href="{:url('blog/Index/article_detail')}?articleId={$next.articleId}">{$next.title}
                &raquo;</a></li>
            {/if}
        </ul>

        <hr>

        {volist name="comment" id="comment"}


        <div class="am-g blog-author blog-article-margin">
            <div class="am-u-sm-3 am-u-md-3 am-u-lg-2">
                <img src="{$comment.avatar}" alt="" class="blog-author-img am-circle">
            </div>
            <div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
                <h3><span><a href="http://{$comment.reviewerSite}" target="_blank" >{$comment.reviewerName}</a></span><span
                        style="margin-left: 1rem">回复-></span><span style="margin-left: 1rem"
                                                                   class="blog-color">{$article.writer}</span>
                </h3>
                <p>{$comment.reviewContent}</p>
            </div>
        </div>

        {/volist}

        <hr>

        <form class="am-form am-g" action="{:url('blog/Index/comment')}" method="post">
            <input type="hidden" name="articleId" value="{$article.articleId}"/>
            <h3 class="blog-comment">评论</h3>
            <fieldset>
                <div class="am-form-group am-u-sm-4 blog-clear-left">
                    <input type="text" name="reviewerName" class="" placeholder="名字">
                </div>
                <div class="am-form-group am-u-sm-4">
                    <input type="email" name="reviewerMail" class="" placeholder="邮箱">
                </div>

                <div class="am-form-group am-u-sm-4 blog-clear-right">
                    <input type="text" name="reviewerSite" class="" placeholder="网站">
                </div>

                <div class="am-form-group">
                    <textarea class="" rows="5" name="reviewContent" placeholder="一字千金"></textarea>
                </div>

                <p>
                    <button type="submit" class="am-btn am-btn-default">发表评论</button>
                </p>
            </fieldset>
        </form>

        <hr>
    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img src="{$Think.BLOG}/images/avatar.jpg" alt="about me" class="blog-entry-img">
            <p>风和树里</p>
            <p>
                我是风和树里，一个庸俗又有趣的人。
            </p>
            <p>我不想成为一个庸俗的人。十年百年后，当我们死去，质疑我们的人同样死去，后人看到的是裹足不前、原地打转的你，还是一直奔跑、走到远方的我？</p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-reddit am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
            </p>
        </div>
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
                <a href="" class="blog-tag">风和树里</a>
                <a href="" class="blog-tag">博客</a>
                <a href="" class="blog-tag">PHP</a>
            </div>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>么么哒</span></h2>
            <ul class="am-list">
                <li><a href="#">一往无前虎山行。</a></li>
                <li><a href="#">拨开云雾见光明。</a></li>
                <li><a href="#">梦里花开牡丹亭。</a></li>
                <li><a href="#">幻象成真歌舞升平。</a></li>
            </ul>
        </div>
    </div>

</div>
<!-- content end -->


{include file='../application/blog/view/public/footer.html'}

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{$Think.BLOG}/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="{$Think.BLOG}/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="{$Think.BLOG}/assets/js/amazeui.min.js"></script>
<!-- <script src="{$Think.BLOG}/assets/js/app.js"></script> -->
</body>
</html>