<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>风和树里-相册</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="{$Think.BLOG}/assets/i/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{$Think.BLOG}/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="{$Think.BLOG}/assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="{$Think.BLOG}/assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="{$Think.BLOG}/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="{$Think.BLOG}/assets/css/app.css">
</head>

<body id="blog-article-sidebar">
<!-- header start -->
{include file='../application/blog/view/public/header.html'}
<!-- header end -->
<hr>

<!-- nav start -->
{include file='../application/blog/view/public/nav.html' action='相册'}
<!-- nav end -->
<hr>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }">
        <div id="container">

            {volist name="photo_arr" id="photo"}

            <div>
                <img src="{$Think.BLOG}/{$photo.photoUrl}">
                <h3>{$photo.photoTitle}</h3>
            </div>

            {/volist}

        </div>
    </figure>

</div>

<!-- content end -->
{include file='../application/blog/view/public/footer.html'}


<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{$Think.BLOG}/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="{$Think.BLOG}/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="{$Think.BLOG}/assets/js/amazeui.min.js"></script>
<script src="{$Think.BLOG}/assets/js/pinto.min.js"></script>
<script src="{$Think.BLOG}/assets/js/img.js"></script>
</body>
</html>