<footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>风和树里</h3>
            <p class="am-text-sm"><p>这是我自己做的第一个博客。</p><p>之前也有搭过很多</p><p>前端模板用的妹子UI</p><p>愿我们都不忘初心，始终如一</p></p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>找到我</h3>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-reddit am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon blog-icon"></span></a>
            </p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h1>友情链接</h1>
            <h3>Links</h3>
            <p>
            <ul>
                <li>暂无</li>
                <li>暂无</li>
                <li>暂无</li>
                <li>暂无</li>
                <li>暂无</li>
            </ul>
            </p>
        </div>
    </div>
    <div class="blog-text-center">© 2019 AllMobilize, Inc. Licensed under MIT license. Made with love By Mantoen</div>
</footer>