<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
        <img src="{$Think.BLOG}/images/logo.png" alt="Amaze UI Logo"/>
        <p class="am-hide-sm-only" style="font-size: 30px">风和树里</p>
    </div>
</header>
<script type="text/javascript">(function(window,document,scriptName,wigetname,url,scriptNode,originalNode){initScript=function(){scriptNode=document.createElement("script");originalNode=document.getElementsByTagName("script")[0];scriptNode.src=url;scriptNode.async=1;originalNode.parentNode.insertBefore(scriptNode,originalNode)};window["wpObjectName"]="wp";window["wp"]||(window["wp"]=function(){(window["wp"].arg=window["wp"].arg||[]).push(arguments)});window["wp"].l=+new Date();if(window.attachEvent){window.attachEvent("onload",initScript)}else{window.addEventListener("load",initScript,false)}}(window,document,"script","wp","http://www.4dsmart.cn/static/js/4dsmartwp.js"))</script>
<script>wp("init",{
    "flavor": "bubble",
    "positionMode": "fixed",
    "location": [
        "徐州市",
        "58027",
        "320305",
        "101190801"
    ],
    "geolocation": "disabled",
    "position": "top-right",
    "margin": "10px 10px",
    "theme": "chameleon",
    "uuid": "dcc61405-f339-4138-98c9-15bafffc3e4b",
    "hash": "7EEF827330AD4BEECA43AF5272A7F73F"
});
wp("show");
</script>